<template>
  <div>
    <md-list v-for="course in courses">
      <md-list-item>
        <md-avatar>
          <img src="https://placeimg.com/40/40/people/5" alt="People">
        </md-avatar>

        <span class="md-list-item-text">Abbey Christansen</span>

        <md-button class="md-icon-button md-list-action">
          <md-icon class="md-primary">chat_bubble</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </div>
</template>

<script>
  export default {
    name: 'SingleLine'
  }
</script>

<style lang="scss" scoped>
  .md-list {
    width: 360px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(#000, .12);
  }
</style>

